<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="reportPortal" type="ReportPortal.NUnit.ReportPortalSection, ReportPortal.NUnit, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>
  <reportPortal enabled="true" logConsoleOutput="true">
    <server url="http://192.168.99.100:8080/api/v1/" project="test">
      <authentication password="f1f17339-3377-4daa-8285-c500a3c6a3f0"/>
    </server>
    <launch name="NUnit 2 Demo Launch" debugMode="false" tags="t1,t2"/>
  </reportPortal>
</configuration>